:root{ 
    --black-color: #262729;
    --orange-color: #EE685F;
    --blue-color: #2A90D9;
    --white-color: #FFFFFF;
    --p-color: #333333;
    --why_us_background: #F7F7F7;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    position: center;
    max-width: 1280px;
}

header{
    margin-bottom: 100px;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    
}

section {
    margin: 100px 100px 0px 0px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 17px auto;
    
}

.mobile-nav {
    display: none;
}



ul {
    display: flex;
    justify-content: center;
}

li, a {
    text-decoration: none;
    list-style: none;
    margin-right: 40px;
    color: #262729;
    font-size: 16px;
    font-weight: 500;
}

.logos img {
    margin-right: 30px;
}
.ylogo {
    font-size: 32px;
    font-weight: bold;
    color: var(--blue-color);

}
.your {
    color: var(--orange-color);
}


.banner-img {
    position: relative;
    width: 100%;
}

.banner-text {
    position: absolute;
    width: 494px;
    height: 118px;
    top: 70px;
    bottom: 312px;
    left: 70px;
    right: 616px;
}
.banner-text span{
    line-height: 30px;
}
.banner-search {
    position: absolute;
    top: 465px;
    bottom: 0px;
    right: 300px;
    left: 300px;
}


.why {
    background-color: var(--why_us_background);
    width: 100%;
}
.msg p {
    font-family: "Montserrat";
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

.msg {
    text-align: center;
    padding-top: 70px;
    margin-bottom: 55px;
}

.reasonn {
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
}

.reasons {
    text-align: center;
}


.special {
    width: 100%;
    margin-left: 30px;
}
.special h2 {
    text-align: center;
    margin-bottom: 60px;
}

.beds.bed {
    display: block;
}

.beds {
    display: flex;
    justify-content: space-evenly;
}

.bed {
    margin-bottom: 25px;
    position: relative;
}

.rating {
    position: absolute;
    top: 10px;
    bottom: 178px;
    left: 10px;
    right: 273px;
}

.fav {
    position: absolute;
    top: 10px;
    bottom: 178px;
    left: 308px;
    right: 10px;
}

.reviews h2 {
    text-align: center;
}


.reviews {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 20px;
    
}

.one {
    text-align: center;
    margin-right: 35px;
}

.left-arrow {
    margin-right: 30px;
}

.button {
    font-size: 16px;
    font-weight: 300;
    padding: 15px 82px;
    background-color: var(--orange-color);
    color: var(--white-color);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
}


.posts h2 {
    text-align: center;
    margin-left: 100px;
}

.places {
    display: flex;
    justify-content: space-between;
}
.place {
    margin-right: 60px;
}

.timedate {
    display: flex;
    justify-content: space-between;
}

.clk {
    margin-left: auto;
}

.small {
    font-family: 'Monteserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--p-color);

}

.blu {
    font-family: 'Monteserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--blue-color);

}