:root{ 
    --black-color: #262729;
    --orange-color: #EE685F;
    --blue-color: #2A90D9;
    --white-color: #FFFFFF;
    --p-color: #333333;
    --why_us_background: #F7F7F7;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    position: center;
    max-width: 1280px;
}

header{
    margin-bottom: 100px;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    
}

section {
    margin: 100px 100px 0px 0px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 17px auto;
    
}

.mobile-nav {
    display: none;
}



ul {
    display: flex;
    justify-content: center;
}

li, a {
    text-decoration: none;
    list-style: none;
    margin-right: 40px;
    color: #262729;
    font-size: 16px;
    font-weight: 500;
}

.logos img {
    margin-right: 30px;
}
.ylogo {
    font-size: 32px;
    font-weight: bold;
    color: var(--blue-color);

}
.your {
    color: var(--orange-color);
}


.banner-img {
    position: relative;
    width: 100%;
}

.banner-text {
    position: absolute;
    width: 494px;
    height: 118px;
    top: 70px;
    bottom: 312px;
    left: 70px;
    right: 616px;
}
.banner-text span{
    line-height: 30px;
}
.banner-search {
    position: absolute;
    top: 465px;
    bottom: 0px;
    right: 300px;
    left: 300px;
}


.why {
    background-color: var(--why_us_background);
    width: 100%;
}
.msg p {
    font-family: "Montserrat";
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

.msg {
    text-align: center;
    padding-top: 70px;
    margin-bottom: 55px;
}

.reasonn {
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
}

.reasons {
    text-align: center;
}


.special {
    width: 100%;
    margin-left: 30px;
}
.special h2 {
    text-align: center;
    margin-bottom: 60px;
}

.beds.bed {
    display: block;
}

.beds {
    display: flex;
    justify-content: space-evenly;
}

.bed {
    margin-bottom: 25px;
    position: relative;
}

.rating {
    position: absolute;
    top: 10px;
    bottom: 178px;
    left: 10px;
    right: 273px;
}

.fav {
    position: absolute;
    top: 10px;
    bottom: 178px;
    left: 308px;
    right: 10px;
}

.reviews h2 {
    text-align: center;
}


.reviews {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 20px;
    
}

.one {
    text-align: center;
    margin-right: 35px;
}

.left-arrow {
    margin-right: 30px;
}

.button {
    font-size: 16px;
    font-weight: 300;
    padding: 15px 82px;
    background-color: var(--orange-color);
    color: var(--white-color);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
}


.posts h2 {
    text-align: center;
    margin-left: 100px;
}

.places {
    display: flex;
    justify-content: space-between;
}
.place {
    margin-right: 60px;
}

.timedate {
    display: flex;
    justify-content: space-between;
}

.clk {
    margin-left: auto;
}

.small {
    font-family: 'Monteserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--p-color);

}

.blu {
    font-family: 'Monteserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--blue-color);

}


.posts {
    margin-bottom: 100px;
}

.posts h4 {
    font-family: 'Monteserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--p-color);
}

.forp {
    font-family: 'Monteserrat', sans-serif;
    color: var(--p-color);
}

footer {
    background-color: var(--why_us_background);
    padding-bottom: 10px;
}
.links {
    display: flex;
    justify-content: space-between;
}

.link ul {
    display: block;
}

li {
    margin-bottom: 10px;
}

#input {
    width: 336px;
    height: 40px;
    border-radius: 10px;
    border-color: var(--orange-color);
    position: relative;
}

.submit-btn {
    position: absolute;
    right: 105px;
    width: 40px;
    height: 40px;
}

.link a {
    position: absolute;
    left: -1px;
    top: -2px;
}

label {
    font-family: 'Monteserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--p-color);
}


.ft {
    display: flex;
    justify-content: space-between;
}

.ft p {
    font-family: 'Monteserrat', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: var(--p-color);
}

.ft .delvig {
    color: var(--blue-color);
    text-decoration: underline;
    cursor: pointer;
}
.ft .delvig:hover {
    background-color: #93c1e2;
}

.footer-lastp {
    font-family: 'Monteserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    
}

.search-img {
    display: none;
}
.mobile-menu-container {
    display: none;
}






/*End of the main design*/

@media screen and (max-width: 400px) { 

    .main-nav {
        display: none;
    }

    .mobile-nav {
        max-width: 90vw;
        margin: 16px 16px;
        display: flex;
        justify-content: space-between;
    }
    
    .menu-toggle {
        border: none;
        margin-top: -8px;
        font-size: 32px;
        height: 20px;
        color: var(--black-color);
        background-color: var(--white-color);
        cursor: pointer;
    }

    .mobile-nav span {
        margin-left: -60px;
    }


    .banner {
        width: 100vw;
        height: 100vw;
        overflow: hidden;
    }

    .responsive-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .banner-img {
        position: relative;
    }

    .banner-text {
        position: absolute;
        top: 32px;
        left: 16px;
        right: 16px;        
    }

    .banner-search {
        display: none;
    }


    .search-img {
        position: absolute;
        top: 232px;
        bottom: 32px;
        right: 16px;
        left: 16px;
        display: block;
    }

    .reasonn {
        display: block;
        margin-bottom: 32px;
    }


    .beds {
        display: block;
        margin-bottom: 50px;
    }

    .reviews {
        display: block;
        margin-bottom: 50px;
    }
    .left-arrow, .right-arrow {
        display: none;
    }

    .posts {
        margin-left: 5px;
        }

    .posts.wrapper {
        justify-content: center;
    }

    .places {
        display: block;
        
        
    }

    .place {
        text-align: center;
        
    }

    .timedate {
        justify-content: space-between;
    }

    .links {
        display: block;
    }

    .ft {
        display: block;
    }

    .ft ul {
        margin-left: -90px;
        font-family: 'Montserrat', sans-serif;
        
    }

    .submit-btn {
        right: 20px;
    }

    .mobile-menu-container {
        transform: translate(0);
    }
    
    .mobile-menu-container {
        position: fixed;

        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--white-color);
        z-index: 1000;
        top: 0px;
        transition: all 400ms ease-in-out;
        transform: translateX(100%); 
        opacity: 0;
        pointer-events: none;
        
    }

    .menu-toggle {
        display: block;
    }

    .mobile-menu-container.active {
        
        transform: translateX(0); 
        opacity: 1;
        pointer-events: auto;
    }

    .close-icon {
        top: 23px;
        left: 0px;
        transition: all 400ms ease;
        cursor: pointer;

    }
    .mobile-menu-container.active .close-icon{
        opacity: 1;
        pointer-events: auto;
        display: block;
        
    }

    .mobile-menu-container ul {
        display: block;
        margin-top: 60px;
        padding: 0px 20px;
        
    }

    .mobile-menu-container {
        display: block;
        
        
    }


    .mobile-menu-container .ic{
        margin-top: 200px;

    }

    .mobile-menu-container a {
        margin-right: 16px;
    }

    

    .mobile-menu-nav {
        display: flex;
        justify-content: space-between;
        margin: 16px 48px 16px 16px;

    }

    .mobile-menu-container li {
        margin: 32px 0px;
        font-size: 16px;
        font-weight: 900;
    }

    .dollar {
        margin-right: 32px;
        margin-left: 20px;
    }
}
